html{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: skyblue;
}
body{
    background-color:white;
    

}
h1 {
    font-size: 60px;
    text-align: center;
    background-color: blueviolet;
    text-shadow: 3px 3px 1px black
   
}
    
p {
    font-size: 16px;    
    line-height: 2;
    letter-spacing: 1px;
    margin-left: 10%;
    
    
    
}
#androidd{
    background-color:white;
}
#applee{
    background-color: white;
}
#windowss{
    background-color: white;
}
